//Profile config names for nf-core/configs

params {
        config_profile_description = 'ETH Leonhard cluster profile provided by nf-core/configs'
        config_profile_contact     = 'Joao Agostinho de Sousa (@jpadesousa)'
        config_profile_url         = 'https://scicomp.ethz.ch/wiki/Leonhard'
        }

params {
        max_memory = 500.GB
        max_cpus   = 100
        max_time   = 240.h
        
	igenomes_base   = '${GENOMES}/igenomes'
        //saveReference   = true
	//igenomes_ignore = true
}

process {
        executor = 'lsf'
        scratch  = 'true'
}

singularity {
        enabled    = true
        autoMounts = true
}
