//Profile config names for nf-core/configs

params {
        config_profile_description = 'ETH Euler cluster profile provided by nf-core/configs'
        config_profile_contact     = 'Joao Agostinho de Sousa (@jpadesousa)'
        config_profile_url         = 'https://scicomp.ethz.ch/wiki/Euler'
        }

params {
        max_memory = 500.GB
        max_cpus   = 100
        max_time   = 240.h
        
	igenomes_base   = "${GENOMES}"
        igenomes_ignore = false
}

process {
        executor = 'slurm'
        scratch  = 'true'
}

singularity {
        enabled    = true
        autoMounts = true
}
