//Profile config names for nf-core/configs

params {
        config_profile_description = 'NME lab ETH Leonhard cluster profile'
        config_profile_contact = 'Joao Agostinho de Sousa (@jpadesousa)'
        config_profile_url = 'https://epigenetics.ethz.ch/'
        }

/*
 * ----------------------------------------------------------
 *  Nextflow config file for the NME lab ETH leonhard cluster
 * ----------------------------------------------------------
 */

params {
        max_memory = 500.GB
        max_cpus = 100
        max_time = 240.h
        
        igenomes_ignore = false
        saveReference = true
}

process {
        executor = 'lsf'
        scratch = 'true'
}

singularity {
        enabled = true
        autoMounts = true
}

// NME genomes
params {

  genomes {
  
      'nme_GRCh37' {
        fasta             = '${GENOMES}/Homo_sapiens/Human/GRCh37/'
      }
      
      'nme_GRCh38' {
        fasta             = '${GENOMES}/Homo_sapiens/Human/GRCh38/'
        gtf               = '${GENOMES}/Homo_sapiens/Human/GRCh38/Homo_sapiens.GRCh38.99.gtf'
        bed               = '${GENOMES}/Homo_sapiens/Human/GRCh38/Homo_sapiens.GRCh38.99.bed'
      }

      'nme_GRCm38' {
        fasta             = '${GENOMES}/Mus_musculus/GRCm38/Mus_musculus.GRCm38.75.dna.toplevel.fa'
        gtf               = '${GENOMES}/Mus_musculus/GRCm38/Mus_musculus.GRCm38.99.gtf'
      }

      'nme_Ecoli' {
        fasta             = '${GENOMES}/Escherichia_coli/Ecoli.fa.gz'
      }

      'nme_BDGP6' {
        fasta             = '${GENOMES}/Drosophila_melanogaster/BDGP6/'
      }

      'nme_Lambda' {
        fasta             = '${GENOMES}/Bacteriophage_lambda/lambda.fa.gz'
      }

      'nme_WBcel235' {
        fasta             = '${GENOMES}/Caenorhabditis_elegans/WBcel235/'
      }

      'nme_Rnor_6.0' {
        fasta             = '${GENOMES}/Rattus_norvegicus/Rnor_6.0/'
        gtf               = '${GENOMES}/Rattus_norvegicus/Rnor_6.0/Rattus_norvegicus.Rnor_6.0.92.gtf'
      }

      'nme_R64-1-1' {
        fasta             = '${GENOMES}/Saccharomyces_cerevisiae/R64-1-1/'
      }
  }
  
  genome = 'nme_GRCm38' // Default genome. Ignored if --genome 'OTHER-GENOME' specified on command line
}
